
/* container 1 */

/* TODO: 5 EQUALLY SIZED COLUMNS */
.container1 {
  row-gap: 20px;
  grid-template-columns: ;

}

/*  container 2 */

/* TODO: 3 COLUMNS MIDDLE COLUMN TWICE AS LARGE, ADD 50PX GAP */
.container2 {
  display: ;
  grid-template-columns: ;
  
}

/* container 3 */

/* TODO: 2 COLUMNS, ADD 20PX COLUMN GAP */
.container3 {
  display: grid;
  grid-template-columns: ;
}

/* all code for container 4 */

/* TODO: REVERSE THE COLUMNS SO THAT RED AND GREEN ARE SWAPPED ADD 20PX ROW GAPS*/
.container4 {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}

. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
. {
  grid-area: ;
}
